// .auth-container {
//     background-image:
// }

ion-content{
    --background: none;
    background-image: url('../../../assets/login_background.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    ion-item {
        color: #fff;
    }
}


.auth-container {
    color: #fff;
}

.error-box {
    height: 24%;
}

.credentials {
    height: 74%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-header {
    height: 15%;
}

.auth-content {
    height: 75%;
    display: flex;
    flex-direction: column;;
    justify-content: space-between;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}
