<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-container img-container">
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3" ><img src="../../../assets/logo.png" alt=""></ion-col>
    </ion-row>
  </ion-grid>
  <div class="error-box"></div>
  <form class="credentials">
    <ion-item color="none">
      <ion-label position="fixed"><ion-icon name="mail-outline"></ion-icon></ion-label>
      <ion-input required type="text" placeholder="Email" ></ion-input>
    </ion-item>
    <ion-item color="none">
      <ion-label position="fixed"><ion-icon name="lock-closed-outline"></ion-icon></ion-label>
      <ion-input required type="text" placeholder="Password"></ion-input>
    </ion-item>
    <ion-item color="none" lines="none">
      Forgotten your password?
    </ion-item>
    <ion-button expand="full"  ion-ion-button type="submit" block>Log in</ion-button>
  </form>
</ion-content>
