.info-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 1rem;
  align-items: center;
  color: #fff;
  &__logo {
    margin-bottom: 1.5rem;
    width: 4rem;
  }

  &__title {
    margin-bottom: 1.2rem;
  }

  &__description {
    text-align: center;
  }
}

.tracking-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toggle-tracking {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-left: 2rem;
    margin-right: 2rem;
}

ion-content {
  --background: none;
  background-image: url('../../../assets/login_background.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  ion-item {
    color: #fff;
    --color: 'none';
  }
}
