ion-content{
    --ion-background-color: rgb(216, 216, 216);
    --padding-start: .9rem;
    --padding-end: .9rem;
}

.notification {
    margin-bottom: .9rem;
}

.sub-header {
    color: rgb(37, 45, 59);
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
    font-weight: 700;
}